
<ion-view view-title="About US">


<ion-content >
<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/aboutus.jpg">
	<h2>Prof. Dr .AMMAN ARUL N.PAZHANI NATHAAN</h2>
    <p style="text-align: justify;">
        Dheeran TV is one of the leading Entertainment channel in Tamilnadu and
        also has the foot print in most of the States in India and all around the
        World marketed with the Slogan of “D for Dheeran Idhu Makkaloda
        Nambikkai”, commenced its operations in July 2007, after putting a lot of
        efforts, and successful trail runs. Dheeran TV’s Vision is to be distinct from
        other Tamil channels which are classifieds, the program making style,
        offering ever-green movies, also blockbusters and Tele-programs. As of
        now, the target customers are the south Indian Diaspora Dheeran TV is
        mulling towards other South – Indian languages Telugu Malayalam and
        Kannada. Dheeran TV is having tie-up with Sing Tel, IPTV in Singapore, Astro
        Malaysia, Channel 2 Group in Middle East and Africa, Free TV in France,
        Channel live in USA, HorizonSat in Germany, and Voice of Asia in Srilanka.
    </p>
    
  </div>

</div>
</ion-content >
</ion-view >