
<ion-view view-title="Technical">


<ion-content >
<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/aboutus.jpg">
	<h2>DHEERAN TV DOWNLINK PARAMETER</h2>
	
   <div class="row">
  <div class="col">Satellite :</div>
  <div class="col">IS-17 @66 Degrees East Longitude</div>
  </div>
  
  <div class="row">
  <div class="col">Band :</div>
  <div class="col">C</div>
  </div>
  
  
  <div class="row">
  <div class="col">Down link Frequency :</div>
  <div class="col">3845 MHz</div>
  </div>
  
  
  
  <div class="row">
  <div class="col">Symbol Rate :</div>
  <div class="col">27.692 MSPS</div>
  </div>
  
  
  <div class="row">
  <div class="col">FEC :</div>
  <div class="col">7/8</div>
  </div>
  
  
  
  <div class="row">
  <div class="col">Modulation : </div>
  <div class="col">DVB-S1 QPSK</div>
  </div>
  
  
  
  <div class="row">
  <div class="col">Polarization : </div>
  <div class="col">Vertical</div>
  </div>
  
  </div>

</div>
</ion-content >
</ion-view >